 /* Import bootstrap.less which loads all bootstrap-less-modules */
@import "less/bootstrap.less";

@red: #F44336;
@lightred: #D84336;
@grey: #727272;
@lightgrey: #e9e9e9;
@darkgrey: #222;

body {
	padding-top:0px;
	color:@darkgrey;
	font-family:'Open Sans',sans-serif;
	font-weight:400;
	font-size:16px;
}

/* remove blue outline on focus on buttons */
button:focus {
	outline:none !important;
}

.tactics-container {
	max-width: 92%;
	margin-left: auto;
	margin-right: auto;
}

/* gamefields naast elkaar */
.gamefield, .turner-container {
    float: left;
    height: 570px;
    padding: 20px;
}

.gamefield {
	width: 40%;
	background: #e6e6e6;
	opacity: 0.5;
	border: 2px solid #e6e6e6;
	border-bottom: none;

	&.turn {
		border: 2px solid @red;
		opacity: 1;
	}

	h2 {
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 2px solid @red;
		margin-top: 0;
	}

	.tactics-row {
		font-size: 26px;
		margin-bottom: 5px;

		.row-item {
			width: 25%;
			text-align: center;
			display: inline-block;
		}

		.row-item.hit-1[data-item="1"] {
			text-decoration: line-through;
		}

		.row-item.hit-2[data-item="1"], .row-item.hit-2[data-item="2"] {
			text-decoration: line-through;
		}

		.row-item.hit-3[data-item="1"], .row-item.hit-3[data-item="2"], .row-item.hit-3[data-item="3"] {
			text-decoration: line-through;
		}

		&.row-completed {
			background: #dff0d8
		}

		.points-container {
			font-size: 16px;
			button {
				padding: 4px;
				position: relative;
				top: -3px;
				-webkit-appearance: none;
			}
			.points-amount {
				background: @lightgrey;
				padding: 3px 9px 3px 7px;
				border: 1px solid @grey;
				position: relative;
				top: -3px;
			}
		}

	}
}

.turner-container {
	width: 20%;
	text-align: center;

	.turner {
		background-color: @red;
		border-radius: 50%;
		width: 64px;
		height: 64px;
		border: 2px solid @darkgrey;
		margin-left: auto;
		margin-right: auto;

		&:hover {
			cursor: pointer;
			background-color: @lightred;
		}

		img {
			position: relative;
			top: 10px;
		}
	}
}

/* standings eronder */
.standings {
	clear: left;
	background-color: @grey;
	color: white;
	padding: 40px;
	text-align: center;
	border: 3px solid @red;
}

/* End of game popup */
.overlay-container {
	position: fixed;
	background: rgba(150,150,150,0.8);
	width: 100%;
	height: 100%;
    top: 0;
}

.popup {
    position: relative;
    width: 550px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #F44336;
    top: 50%;
    margin-top: -150px;
    z-index: 1000;
    background: whitesmoke;
    padding: 0 40px;

    h2 {
    	text-align: center;
    	font-size: 36px;
    	margin-top: 25px;
    	margin-bottom: 25px;
    }

    .col-md-4 {
    	font-size: 26px;
    }

    .popup-buttons {
    	margin-top: 40px;
    	button {
    		height: 45px;
    		padding: 4px 10px;
    		width: 150px;
    		margin-right: 50px;
    		border-radius: 0;
    	}
    }

}
